---
title: Smartsheet Live Data Connector

language_tabs:
  
toc_footers:

includes:

search: false
---

<% CONSTANT1 = "UPDATED! This is my string CONSTANT1." %>

# <span class="customTOCSectionHeading">Getting Started</span>

<aside class="notice">This is a test note - notice</aside>
<aside class="success">This is a test note - success</aside>
<aside class="warning">This is a test note - warning</aside>

This is **bold text**

This is *italic text*

Example link - external:  [standard HTTP methods](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html)

Example link - internal:  [display text](#section-1_b)

Example table: 

     |     |
-----|-----|
*Content-Type* | For POST and PUT requests, must be set to the appropriate value (typically `application/json`).  Ignored for GET and DELETE requests.
*Accept*       | Optional; if not specified, `*/*` is assumed (i.e. any response type is accepted), else it must match the output of the invoked endpoint (typically `application/json`).
 ----|-----|-----|
MODIFIED_DATE | DATETIME
MODIFIED_BY | CONTACT_LIST
CREATED_DATE | DATETIME
CREATED_BY  | CONTACT_LIST
AUTO_NUMBER | TEXT_NUMBER | Columns of this system column type will include an [AutoNumberFormat object](#autonumberformat-object) that describes the mask used to generate the value.

This is my first image: 

<img src="images/testImage_1.png" />

# Section 1

<%= CONSTANT1 %>

## Section 1_A

blah blah blah

## Section 1_B

blah blah blah

### Section 1_B_1

blah blah blah

# <span class="customTOCSectionHeading">Install & Configure</span>

blah blah blah

# Section 1

blah blah blah 

<%= CONSTANT1 %>

## Section 1_A

blah blah blah

# <span class="customTOCSectionHeading">Usage</span>

blah blah blah

# Section 1

## Section 1_A

blah blah blah

# <span class="customTOCSectionHeading">FAQ</span>

blah blah blah

# Section 1

blah blah blah

## Section 1_A

blah blah blah

## Section 1_B

blah

# Section 2

blah blah blah

## Section 2_A

blah blah blah

## Section 2_B

blah
